/*
SPACING
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/
/* 
Colors:
Primary: #e67e22
Tint:
Shades:
Accents:
Greys: #555 #333 
*/
/* ------------------------ */
/* GLOBAL STYLES/RESETS */
/* ------------------------ */
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: "rubik", sans-serif;
  font-size: 62.5%;
  /*font-size: 10px = 1rem*/
  line-height: 1.5;
  color: #b2becd;
}

body {
  font-size: 1.6rem;
  background-color: #12181b;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* ------------------------ */
/* GENERAL STYLES*/
/* ------------------------ */
button {
  display: inline-block;
  cursor: pointer;
  font-weight: 600;
  line-height: 1;
  padding: 1rem;
  border: 0;
}

button:hover {
  filter: brightness(0.9);
}

a:link,
a:visited {
  text-decoration: none;
  color: blue;
}

a:hover,
a:active {
  text-decoration: underline;
}

ul {
  padding-inline-start: 4rem;
}

li {
  line-height: 2;
}

input {
  outline: none;
}

svg {
  width: 2.4rem;
  height: 2.4rem;
}

p {
  font-family: "rubik", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #b2becd;
}

/* ------------------------ */
/* BASE LAYOUT STYLES*/
/* ------------------------ */
::selection {
  color: #fff;
  background-color: #09c372;
}

main {
  margin: 0 auto;
  padding: 6rem 10rem 0 10rem;
}

h2 {
  font-size: 3.2rem;
  margin: 3rem 0rem;
  border-bottom: 2px dashed #2a2e35;
}

h3 {
  color: #fff;
  margin: 1rem 0rem;
  font-size: 1.8rem;
}

p {
  margin: 2rem 0rem;
}

.nav-top {
  z-index: 10;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #2a2e35;
  height: 6rem;
}

.nav-top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0rem 2rem;
}

.nav-top ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 100%;
  padding: 0;
  list-style: none;
}

.nav-top li {
  height: 100%;
}

.nav-top a {
  display: flex;
  align-items: center;
  color: #616a75;
  font-size: 2rem;
  font-weight: 500;
  padding: 0rem 1rem;
  height: 100%;
}

.nav-top a:hover {
  text-decoration: none;
  color: #fff;
}

.search-box {
  display: flex;
  gap: 2px;
}

.search-box input {
  background-color: #616a75;
  border-radius: 10px 0px 0px 10px;
  border: 0;
  padding-left: 1rem;
  color: #b2becd;
}

.search-box input:hover {
  box-shadow: inset 0px 0px 1px 1px #2a2e35;
}

.search-box input:focus {
  border: 0;
}

.search-box button {
  background-color: #616a75;
  border-radius: 0px 10px 10px 0px;
}

.search-box svg {
  stroke: #1d1e24;
}

.logo {
  height: 4rem;
  width: 4rem;
  stroke: #ec5453;
  fill: #ec5453;
}

.tag:link,
.tag:visited {
  font-size: 1.4rem;
  background-color: #ffcb2b;
  padding: 0.2rem;
  color: #12181b;
  padding: 0.3rem 0.8rem;
  border-radius: 3px;
}

.tags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
}

.preview-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.preview-card {
  background-color: #2a2e35;
  max-width: 40rem;
  border-radius: 10px;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.5);
  transition: transform 0.2s;
}

.preview-card:hover {
  transform: translateY(-6px);
}

.preview-card img {
  border-radius: 10px 10px 0px 0px;
}

.preview-card-content {
  padding: 2rem;
  height: 26rem;
  overflow-y: hidden;
}

.preview-card-content p {
  height: 10rem;
  overflow: hidden;
}

.projectCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.projectContainer {
  flex-direction: column;
  width: 1280px;
}

.ytvideo-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}

.ytvideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.project-info {
  background-color: #2a2e35;
  padding: 2rem 4rem;
}

/*# sourceMappingURL=main.css.map */
